.artistsSearch{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.row{
    display: flex;
    height: auto;
}
.content{
    display: flex;
    flex-direction: column; 
    width:100%;
}
.demo{
    width: 100%;
    margin: 20px 30px;
}