.library {
  background-color: #1d3536;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.row{
  display: flex;
  height: auto;
}
.content{
  display: flex;
  flex-direction: column; 
  width: 100%;
}
.main {
  padding-left: 1rem;
}
