.library {
  height: 100%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  height: auto;
}
.content{
  display: flex;
  flex-direction: column; 
  width: 100%;
}
.main {
  padding-left: 1rem;
}
