.searchBar {
  height: 30px;
  width: 30%;
  margin-top: 25px;
 
  outline: none;
border: none;
  transition: all 0.4s;

}
.searchBar::placeholder {
  padding-left: 30px;
  color: red;
  background-color: white ;
}
.searchBar:focus::placeholder{
  transform: none;
  
}
.searchBar:hover {
  border: 2px dashed rgb(22, 21, 21);
 border-radius: 50px;
}
