.searchBar {
  height: 45px;
  width: 30%;
  margin: 2rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #2ee59d;
  transition: all 0.4s;
}
.searchBar::placeholder {
  color: red;
}
.searchBar:hover {
  border-bottom: 3px solid #2ee59d;
}
