.playlist{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.row{
    display: flex;
    height: auto;
}
.content{
    display: flex;
    flex-direction: column; 
    width:100%;
}
body{
    background: linear-gradient(218deg, #741276 15%, rgba(32,58,110,1) 75%, #121f58 100%);
}
.cards{
    /* border: 2px solid blue;  */
    width: 100%;
}
iframe{
    /* border: 2px solid greenyellow; */
    height: 220px;
    width: 325px;
    margin: 24px 13px;
}