@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

.heading{
margin: 5.5%;
font-family: 'Raleway', Arial, sans-serif;
color: #37474f;
font-weight: 400;
font-size: 2em;

}
.notselected{
  width: max-content;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
  .notselected:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
.selected {

  width: max-content;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(252, 250, 250);
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 5px;
 margin-right: 5px;
 padding: 10px;
  background-color: rgb(7, 7, 7);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  }
  
  .searchbtn
{
  margin-left: 30%;
  margin-bottom: 2%;
  justify-content: center;
}
  input[type=text] {
    width: 500px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #2EE59D;;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
   justify-content: center;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
.sendbtn
{
  font-family: 'Raleway', Arial, sans-serif;
color: #37474f;
font-weight: 400;
font-size: 0.6em;
padding: 4px;
  border: none;
  text-decoration: none;
background-color: rgb(0, 8, 8);
  cursor: pointer;
  border: 0px transparent;
  border-radius: .3rem;
  transition: .3s ease-in-out;
  transition-delay: .35s;
  overflow: hidden;
  color: aliceblue;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}
.sendbtn::before{

    transform: translate(-110%,-110%) translateZ(0)
}
.sendbtn:hover::before{
  transform: translate(-45%,-34%) translateZ(0)
}