@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
:root {
  --font1: "Birthstone", cursive;
  --font2: "Sonsie One", cursive;
  --primary: #d4373e;
}
* {
  margin: 0;
  padding: 0;
}
.box {
  height: max-content;
  display: flex;
  margin: 0px;
 
  background-color: #1d3536;
}

.box-left {
  width: 47%;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.box-right {
  width: 53%;
  padding: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.register-box {
  width: 94%;
  margin: 2.4rem auto;
}
.lead1 {
  color: white;
  font-size: 20px;
  word-spacing: 1px;
  margin: 5px;
  padding: 3px;
}
.large1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin: 5px;
  padding: 3px;
}
.form {
  margin: 5px;
  height: auto;
}
.form-group {
  display: flex;
  background-color: #1d3536;
  width: 95%;
  margin-top: 5px;
  /* border: 2px solid blue; */
  
}

.adjust{
  width: 90%;
}

/* .form .form-group input::placeholder {
  position: absolute;
  left: 0;
  padding: 5px 0;
  margin: -10 0;
  margin-left: 35px;
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
  color: rgb(211, 12, 12);
} */

/* .form .form-group input:focus ~ legend,
.form .form-group input:valid ~ legend {
  color: var(--primary);
  font-size: 14px;
  transform: translateY(-28px);
} */

.icon {
  display: flex;
  padding: 5px;
  margin: 6px;
  margin-left: 0;
  margin-top: 15px;
}
.icon i {
  color: #fff;
  margin: auto;
}

.form input::placeholder {
  /* background-color: #1d3536; */
  /* color: #d61923; */
  color: white;
  font-size: 18px;
  background-color: #1d3536;
  }
 .form input:focus::placeholder {
    /* background-color: #1d3536; */
    color: #d61923;
    font-size: 14px;
    transform: translateY(-24px);
    transition: 0.5s;
    }
.form .form-group input {
  border: none;
  background-color: #1d3536;
  outline: none;
  border-bottom: 1.5px solid grey;
  color: white;
  width: 50%;
}

.buttons1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 2;
  width: 76%;
  /* border: 2px solid red; */
  margin-left: 10%;
}
.btn-primary1 {
  padding: 8px 12px;
  border-radius: 6px;
  width: 9.5rem;
  border: 1.3px solid var(--primary);
  background-color: #d4373e;
  color: white;
  margin: 5px;
}
.btn-primary1:hover {
  background-color: #1d3536;
  color: #d4373e;
  transition: 0.3s;
  cursor: pointer;
}
.btn-secondary1 {
  padding: 8px 12px;
  border-radius: 6px;
  width: 9.5rem;
  color: var(--primary);
  color: #d4373e;
  background-color: #1d3536;
  border: 1.3px solid var(--primary);
  cursor: pointer;
  text-align: center;
  margin: 5px;
}

.btn-secondary1:hover {
  background-color: var(--primary);
  color: #fff;
  transition: 0.3s;
}


/* .btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 110px;
}

.btn:hover {
  opacity: 0.8;
} */

@media only screen and (max-width: 807px) {
  .box {
    height: 100vh;
  }
}
@media only screen and (max-width: 790px) {
  .register-box {
    width: 100%;
    margin: 0px;
    margin: auto;
    margin-top: 30px;
  }
  .box-left {
    width: 47%;
  }
  .box-right {
    width: 53%;
  }
}
@media only screen and (max-width: 600px) {
  .box {
    flex-direction: column;
    height: 100%;
  }
  .box-left {
    width: 100%;
  }
  .box-right {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 380px) {
  .box-left {
    padding: 5px;
    padding-top: 10px;
  }
  .register-box {
    margin-top: 60px;
    width: 90%;
  }
}
