.form .form-group{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 15px 0;
    color: #fff;
    border: none;
    border-bottom: 1.4px solid grey;
    outline: none;
    resize: none;
    background-color: #1d3536;
}
.form .form-group input{
    background-color: #1d3536;
    border: none;
    outline: none;
    resize: none;
    color: #fff;
}
.btn{
    margin: 5px 0px;
}