html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar {
  display: block;
  background-color: #ff5c58;
  /* background-color: rgba(0, 0, 0, 0.8); */
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
  /* position: fixed; */
  z-index: 1;
  /* width: 100vw; */
  width: 100%;
  /* top: 0; */
  border-bottom: solid 1px var(--primary-color);
  /* position: absolute; */
}
.navbar-inner {
  background-color: black;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100vw; */
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}
.navbar a {
  color: red;
  padding: 0 1em;
  margin: 0 0.25rem;
  font-size: larger;
  transition: 0.4s all;
}
.navbar a:hover {
  /* color: var(--primary-color); */
}
.navbar-toggler {
  display: none;
}

@media (max-width: 700px) {
  .navbar-toggler {
    display: flex;
  }
}
